body {
  background: white;
  background-image: none;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

nav {
  display: none;
}

form {
  display: none;
}

#footer-home  {
  display: none;
}
